﻿@using Leapfrog.Web.Views.Shared.Components.TopMenu
@using Leapfrog.Web.Views.Shared.Components.LanguageSelection
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/"><i class="fa fa-cubes"></i> SimpleTaskApp</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync(typeof(TopMenuViewComponent), new { activeMenu = ViewBag.ActiveMenu })
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @await Component.InvokeAsync(typeof(LanguageSelectionViewComponent))
            </ul>
        </div>
    </div>
</div>

